<script type="text/html" id="tmpl-prpl-suggested-task">
	<li class="prpl-suggested-task" data-task-id="{{ data.post.meta.prpl_task_id || data.post.id }}" data-post-id="{{ data.post.id }}" data-task-action="{{ data.action }}" data-task-url="{{ data.post.meta.prpl_url }}" data-task-provider-id="{{ data.post.prpl_provider.slug }}" data-task-points="{{ data.post.meta.prpl_points }}" data-task-category="{{ data.post.prpl_category.slug }}" data-task-order="{{ data.post.menu_order }}">
		<div class="prpl-suggested-task-checkbox-wrapper">
			<# if ( 'user' === data.post.prpl_category.slug ) { #>
				<label>
					<input type="checkbox" class="prpl-suggested-task-checkbox" onchange="prplSuggestedTask.maybeComplete( {{ data.post.id }} );" style="margin: 0; pointer-events: none;"<# if ( 'trash' === data.post.status || 'pending' === data.post.status ) { #> checked<# } #>>
					<span class="screen-reader-text">{{{ data.post.title.rendered }}}: {{ data.l10n.markAsComplete }}</span>
				</label>
			<# } else { #>
				<span style="width: 0.75rem; height: 100%; display: flex; align-items: center; justify-content: center;">
					<svg role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 17"><path fill="#6b7280" d="M19.92 8.12c-.05-.12-.12-.23-.22-.33L12.21.29A.996.996 0 1 0 10.8 1.7l5.79 5.79H1c-.55 0-1 .45-1 1s.45 1 1 1h15.59l-5.79 5.79a.996.996 0 0 0 .71 1.7c.26 0 .51-.1.71-.29l7.5-7.5c.1-.1.17-.21.22-.33.05-.12.07-.24.08-.38 0-.14-.03-.27-.08-.38Z"/></svg>
				</span>
			<# } #>
		</div>

		<div class="prpl-suggested-task-title-wrapper">
			<h3 class="prpl-task-title">
				<span <# if ( 'user' === data.post.prpl_category.slug ) { #>contenteditable="plaintext-only" onkeydown="prplSuggestedTask.preventEnterKey( event ); prplSuggestedTask.updateTaskTitle( this );" data-post-id="{{ data.post.id }}"<# } #>>{{{ data.post.title.rendered }}}</span>
			</h3>
		</div>

		<div class="prpl-suggested-task-points-wrapper">
			<# if ( data.post.meta.prpl_points ) { #>
				<span class="prpl-suggested-task-points">
					+{{ data.post.meta.prpl_points }}
				</span>
			<# } #>
		</div>

		<# if ( 'user' === data.post.prpl_category.slug ) { #>
			<div class="tooltip-actions">
				<span class="prpl-move-buttons">
					<button type="button" class="prpl-suggested-task-button move-up" data-task-id="{{ data.post.meta.prpl_task_id }}" data-task-title="{{ data.post.title.rendered }}" data-action="move-up" data-target="move-up" title="{{ data.l10n.moveUp }}" onclick="prplSuggestedTask.runButtonAction( this );">
						<span class="dashicons dashicons-arrow-up-alt2"></span>
						<span class="screen-reader-text">{{ data.l10n.moveUp }}</span>
					</button>
					<button type="button" class="prpl-suggested-task-button move-down" data-task-id="{{ data.post.meta.prpl_task_id }}" data-task-title="{{ data.post.title.rendered }}" data-action="move-down" data-target="move-down" title="{{ data.l10n.moveDown }}" onclick="prplSuggestedTask.runButtonAction( this );">
						<span class="dashicons dashicons-arrow-down-alt2"></span>
						<span class="screen-reader-text">{{ data.l10n.moveDown }}</span>
					</button>
				</span>
			</div>
		<# } #>

		<div class="prpl-suggested-task-actions-wrapper">
			<div class="tooltip-actions">
				<# data.post.prpl_task_actions.forEach( function( actionHTML ) { #>
					<span class="tooltip-action">{{{ actionHTML }}}</span>
				<# }); #>

				<# if ( 'user' === data.post.prpl_category.slug ) { #>
					<span class="tooltip-action">
						<button type="button" class="prpl-suggested-task-button trash" data-post-id="{{ data.post.id }}" title="{{ data.l10n.delete }}" onclick="prplSuggestedTask.trash( {{ data.post.id }} );">
							<span class="prpl-tooltip-action-text">{{ data.l10n.delete }}</span>
							<span class="screen-reader-text">{{ data.l10n.taskDelete.replace( '%s', data.post.title.rendered ) }}</span>
						</button>
					</span>
				<# } #>
			</div>
		</div>
		<# document.dispatchEvent( new CustomEvent( 'prpl/suggestedTask/itemInjected', { detail: data } ) ); #>
	</li>
</script>
