parameters:
  level: 8
  reportUnmatchedIgnoredErrors: false
  paths:
    - ./classes
    - ./views
    - ./progress-planner.php
    - ./uninstall.php
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    - '#Function YoastSEO not found.#'
    - '#.*unknown class YoastSEO.*#'
    - '#Call to static method get_instance\(\) on an unknown class WPSEO_Options.#'
    - '#Variable \$prpl_[a-zA-Z0-9_]+ might not be defined.#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_[a-zA-Z0-9\\_]+\(\).#'
    - '#Cannot call method modify\(\) on DateTime\|false.#'
    - '#Cannot call method format\(\) on DateTime\|false.#'
    -
      identifier: variable.undefined
      path: views/popovers/email-sending.php
