.prpl-badge {
	display: grid;
	grid-template-columns: 1fr;

	min-width: 0;
	gap: 10px;

	> * {
		align-self: center;
	}

	prpl-badge {

		img {
			transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
		}

		&[complete="false"] {

			img {
				opacity: 0.25;
				filter: grayscale(1);
			}
		}
	}
}

prpl-badge {
	width: 100%;
	margin-bottom: 1rem;
}
