.tooltip-actions {
	justify-content: flex-end;
	gap: 0.5em;
	display: flex;
	position: relative;

	.icon {
		width: 1.25rem;
		height: 1.25rem;
		display: inline-block;
		vertical-align: bottom; /* align with the text */
	}
}

.prpl-tooltip {
	position: absolute;
	bottom: 0;
	left: 100%;
	transform: translate(-100%, calc(100% + 10px));

	padding: 0.75rem 1.5rem 0.75rem 0.75rem;
	width: 150px;
	background: var(--prpl-background-green);
	border-radius: var(--prpl-border-radius);
	z-index: 2; /* above the gauges */
	visibility: hidden; /* hidden by default */

	font-size: 1rem;
	font-weight: 400;
	color: var(--prpl-color-text);

	&[data-tooltip-visible="true"] {
		visibility: visible;
		z-index: 10;
	}

	.close,
	.prpl-tooltip-close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.1rem;
		line-height: 0;
		margin: 0;
		background: none;
		border: none;
		cursor: pointer;
	}

	/* Arrow */
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-10px, -10px) rotate(90deg);

		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7.5px 10px 7.5px 0;
		border-color: transparent var(--prpl-background-green) transparent transparent;
	}
}

prpl-tooltip {
	display: inline-flex;
	align-items: center;
	position: relative;

	.prpl-tooltip {

		p {
			margin-bottom: 0;
		}

		p:first-child {
			margin-top: 0;
		}
	}
}

.prpl-overlay {
	display: none;
}

body:has([data-tooltip-visible="true"]) .prpl-overlay {
	display: block !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.5);
}
