.prpl-wrap.prpl-pp-not-accepted {
	padding: 0;
}

.prpl-welcome {

	.inner-content {
		padding: calc(var(--prpl-gap) * 1.5);
		padding-bottom: 0;
		margin-bottom: calc(var(--prpl-gap) * 1.5);
		display: flex;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		gap: calc(var(--prpl-gap) * 2);

		.left {
			flex-grow: 1;
		}

		img {
			max-width: 100%;
			width: 550px;
			height: auto;
		}
	}

	.welcome-header {
		background: var(--prpl-color-400-orange);
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top-left-radius: var(--prpl-border-radius);
		border-top-right-radius: var(--prpl-border-radius);
		overflow: hidden;

		h1 {
			font-size: var(--prpl-font-size-3xl);
			padding: var(--prpl-padding) calc(var(--prpl-gap) * 1.5);
			font-weight: 600;
		}

		.welcome-header-icon {
			background: var(--prpl-color-400-orange);
			background: linear-gradient(105deg, var(--prpl-color-400-orange) 25%, var(--prpl-background-orange) 25%);
			padding: var(--prpl-padding);
			padding-left: 100px;
			padding-right: calc(var(--prpl-gap) * 1.5);

			svg {
				height: 100px;
			}
		}
	}

	.prpl-form-notice-title {
		font-size: var(--prpl-font-size-lg);
	}

	ul {
		list-style: disc;
		margin-left: 1rem;
	}

	.prpl-onboard-form-radio-select {
		margin-top: 0.75rem;

		label {
			margin-top: 0.5rem;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.prpl-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	#prpl-onboarding-tasks {

		border: 1px solid var(--prpl-color-gray-2);
		border-radius: var(--prpl-border-radius);
		padding: var(--prpl-padding);
		min-width: 0;
		min-height: 0;
		margin-bottom: var(--prpl-gap);
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.07), -2px 0 6px rgba(0, 0, 0, 0.07);

		.prpl-onboarding-tasks-list {
			margin-top: 1rem;
			margin-left: 0;
			padding-left: 0;
			list-style: none;
		}

		.prpl-onboarding-task {
			margin: 0;
			padding: 0.5rem 0.5rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			&:nth-child(2n+1) {
				background-color: #f9fafb;
			}
		}

		.prpl-onboarding-task-meta {
			display: block;
			width: 1.5rem;
			height: 1.5rem;
		}

		.prpl-suggested-task-points {
			font-size: var(--prpl-font-size-xs);
			font-weight: 700;
			color: var(--prpl-color-headings);
			background-color: var(--prpl-color-400-orange);
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.prpl-suggested-task-points-loader {
			width: 25px;
			aspect-ratio: 1;
			/* display: grid; */
			border-radius: 50%;
			background:
				linear-gradient(0deg, rgb(244 63 94/50%) 30%, #0000 0 70%, rgb(244 63 94/100%) 0) 50%/8% 100%,
				linear-gradient(90deg, rgb(244 63 94/25%) 30%, #0000 0 70%, rgb(244 63 94/75%) 0) 50%/100% 8%;
			background-repeat: no-repeat;
			animation: l23 1s infinite steps(12);

			&::before,
			&::after {
				content: "";
				grid-area: 1/1;
				border-radius: 50%;
				background: inherit;
				opacity: 0.915;
				transform: rotate(30deg);
			}

			&::after {
				opacity: 0.83;
				transform: rotate(60deg);
			}
		}

		.prpl-suggested-task-points-loader,
		.icon-check-circle,
		.icon-exclamation-circle {
			display: none;
		}

		.prpl-onboarding-task--loading {
			.prpl-suggested-task-points-loader {
				display: grid;
			}

			.prpl-suggested-task-points {
				display: none;
			}
		}

		.prpl-onboarding-task--completed {
			.icon-check-circle {
				display: inline;
			}

			.prpl-suggested-task-points {
				display: none;
			}
		}

		.prpl-onboarding-task--pending {
			.icon-exclamation-circle {
				display: inline;
			}

			.prpl-suggested-task-points {
				display: none;
			}
		}
	}

	.prpl-onboarding-tasks-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.prpl-onboarding-tasks-montly-badge {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		.prpl-onboarding-tasks-montly-badge-image {
			display: inline-block;
			width: 100px;
		}

		.prpl-onboarding-tasks-total-points {
			font-size: var(--prpl-font-size-3xl);
			font-weight: 600;
		}

	}
}

@keyframes l23 {
	100% {
		transform: rotate(1turn)
	}
}
