.prpl-badge {
	display: grid;
	grid-template-columns: 1fr;
	min-width: 0;
	gap: 0.5rem;

	> * {
		align-self: center;
	}
}

.prpl-previous-month-badge-progress-bars-wrapper {

	h3 {
		margin-bottom: 6px;
	}

	.prpl-previous-month-badge-progress-bars-wrapper-description {
		margin-top: 0;
		margin-bottom: 1.25rem;
	}

	.prpl-previous-month-badge-progress-bar-wrapper:last-of-type {
		padding-bottom: 0 !important; /* override inline style */
	}

	/* Single progress bar wrapper */
	.prpl-previous-month-badge-progress-bar-wrapper {

		.prpl-widget-content-points {
			justify-content: flex-start !important;
			gap: 1rem;
		}

		.prpl-widget-previous-ravi-points-number {
			font-size: var(--prpl-font-size-3xl);
			font-weight: 600;
		}
	}
}
