.prpl-widget-wrapper.prpl-content-activity {

	table {
		width: 100%;
		margin-bottom: 1em;
	}

	th,
	td {
		border: none;
		padding: 0.5em;

		&:not(:first-child) {
			text-align: center;
		}
	}

	th {
		text-align: start;
	}

	tbody th {
		font-weight: 400;
	}

	thead {

		th,
		td {
			border-bottom: 1px solid var(--prpl-color-gray-3);
			text-align: start;
		}
	}

	tfoot {

		th,
		td {
			border-top: 1px solid var(--prpl-color-gray-3);
			text-align: start;
		}
	}

	tr:nth-child(even) {
		background-color: #f9fafb;
	}

	tr:last-child td {
		border-bottom: none;
	}
}
