/**
 * Suggested tasks widget.
 *
 * Dependencies: progress-planner/web-components/prpl-badge
 */

@media all and (min-width: 1400px) {

	.prpl-widget-wrapper.prpl-monthly-badges {
		grid-row-start: 1;
		grid-column-start: 3;
	}
}

.prpl-widget-wrapper.prpl-monthly-badges {

	/* Remove styling from the widget wrapper (but not in popover view). */
	& > .widget-inner-container .prpl-widget-content > .prpl-widget-wrapper:has(.badge-group-monthly) {
		padding: 0;
		border: none;
		box-shadow: none;
		margin-bottom: 0;
	}

	.badge-group-monthly {
		padding: calc(var(--prpl-padding) / 2);
		border-radius: var(--prpl-border-radius-big);
		background-color: var(--prpl-background-orange);

		.prpl-badge-row-wrapper {
			overflow: hidden;
		}

		.prpl-badge-row-wrapper-inner {
			--prpl-current-row: 1;

			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: calc(var(--prpl-gap) / 2);

			transition: transform 0.3s ease-in-out;
			transform: translateY(calc((var(--row-height) + var(--grid-gap)) * (var(--prpl-current-row) - 1) * -1));
		}

		.prpl-badge-row-button-wrapper {
			display: flex;
			justify-content: center;

			&:has(.prpl-badge-row-button-up) {
				margin-bottom: var(--prpl-padding);
				padding-bottom: 0.2rem;

				border-bottom: 1px solid var(--prpl-color-gray-3);
			}

			&:has(.prpl-badge-row-button-down) {
				margin-top: var(--prpl-padding);
				padding-top: 0.2rem;

				border-top: 1px solid var(--prpl-color-gray-3);
			}

			&.prpl-badge-row-button-disabled {
				opacity: 0.5;
				pointer-events: none;
			}
		}

		.prpl-badge-row-button {
			border: none;
			background: none;
			cursor: pointer;
		}

		p {
			margin: 0;
			font-size: var(--prpl-font-size-xs);
			text-align: center;
			line-height: 1.2;
		}
	}

	.prpl-widget-content {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.prpl-widget-content-points {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.prpl-widget-content-points-number {
			font-size: var(--prpl-font-size-3xl);
			font-weight: 600;
		}
	}
}

/*------------------------------------*\
	Popover styles.
\*------------------------------------*/
#prpl-popover-monthly-badges {

	.prpl-widgets-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(var(--prpl-column-min-width), 1fr));
		grid-gap: var(--prpl-gap);
		grid-auto-rows: auto;
	}

	.prpl-widget-title {
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		background: var(--prpl-background-orange);
	}

	.badge-group-monthly {
		background-color: transparent;
	}

	.prpl-widget-wrapper-content {

		.prpl-widget-title {
			background: var(--prpl-background-blue);
		}

		.badge-group-content {
			background-color: transparent;
		}
	}

	.prpl-widget-wrapper-maintenance {

		.prpl-widget-title {
			background: var(--prpl-background-red);
		}

		.badge-group-maintenance {
			background-color: transparent;
		}
	}
}

#prpl-popover-monthly-badges-trigger {
	font-size: var(--prpl-font-size-base);
	color: var(--prpl-color-link);
	text-decoration: underline;
	margin-top: 0.75rem;
}
