/**
 * TODOs widget.
 *
 * Dependencies: progress-planner/suggested-task
 */

.prpl-widget-wrapper.prpl-todo {
	padding-left: 0;

	> * {
		padding-left: var(--prpl-padding);
	}

	.prpl-todo-golden-task-description,
	.prpl-todo-silver-task-description {
		display: none;
	}

	/* Silver task */
	&:not(:has(#todo-list li[data-task-points="1"])) {

		.prpl-todo-silver-task-description {
			display: initial;
		}

		.prpl-todo-golden-task-description {
			display: none;
		}

		#todo-list > *:first-child {

			.prpl-suggested-task {
				border: 1px solid #796da2;
				background-color: #f9f7f9;

				.prpl-suggested-task-actions {

					&::after {
						content: "";
						display: inline-block;
						width: 24px;
						height: 24px;
						background-image: url("../../images/icon_progress_planner.svg");
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
			}
		}
	}

	/* Golden task */
	&:has(#todo-list li[data-task-points="1"]) {

		.prpl-todo-silver-task-description {
			display: none;
		}

		.prpl-todo-golden-task-description {
			display: initial;
		}

		#todo-list {

			.prpl-suggested-task[data-task-points="1"] {
				border: 1px solid var(--prpl-color-accent-orange);
				background-color: var(--prpl-background-orange);
			}
		}
	}
}

#create-todo-item {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	gap: 1em;

	button {
		border: 1.5px solid;
		border-radius: 50%;
		background: none;
		box-shadow: none;
		color: var(--prpl-color-gray-3);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.2em;
		margin-inline-start: 0.3rem;

		.dashicons {
			font-size: 0.825em;
			width: 1em;
			height: 1em;
		}
	}
}

#new-todo-content {
	flex: 1;
	min-width: 0;
}

#todo-list,
#todo-list-completed {
	list-style: none;
	padding: 0;

	/* max-height: 30em; */

	/* overflow-y: auto; */

	/* margin: 0 0 0.5em calc(var(--prpl-padding) * -1); */

	> *:first-child .move-up,
	> *:last-child .move-down {
		visibility: hidden;
	}
}

/*------------------------------------*\
	Progress Planner TODO Dashboard widget styles.
\*------------------------------------*/
#progress_planner_dashboard_widget_todo {

	.prpl-suggested-task {

		h3 {
			margin-bottom: 0;
		}
	}

	#create-todo-item {
		padding: 0 16px;
	}
}

#prpl-dashboard-widget-todo-header {
	display: flex;
	gap: 1em;
	align-items: center;
	margin-bottom: 1em;
	padding: 0 16px;

	p {
		font-size: 14px;
	}
}

#todo-list-completed {

	.prpl-suggested-task {

		h3 {
			text-decoration: line-through;
		}

		.prpl-move-buttons,
		button[data-action="complete"] {
			display: none;
		}
	}
}

#todo-list-completed-details {
	margin-top: 1rem;
	border: 1px solid var(--prpl-color-gray-3);
	border-radius: 0.5rem;

	summary {
		padding: 0.5rem;
		font-weight: 500;
	}

	&:not(:has(.prpl-suggested-task)) {
		display: none;
	}
}

#todo-list {

	&:has(.prpl-loader) {
		position: relative;

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
		}
	}
}
