.prpl-widget-wrapper.prpl-todo {
	padding-left: 0;

	> * {
		padding-left: var(--prpl-padding);
	}

	.prpl-widget-title {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.3rem;
		background: var(--prpl-background-red);
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;

		.icon {
			width: 1.25em;
			height: 1.25em;
		}
	}
}

#create-todo-item {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	gap: 1em;

	button {
		border: 1.5px solid;
		border-radius: 50%;
		background: none;
		box-shadow: none;
		color: var(--prpl-color-gray-3);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.2em;
		margin-inline-start: 0.3rem;

		.dashicons {
			font-size: 0.825em;
			width: 1em;
			height: 1em;
		}
	}
}

#new-todo-content {
	flex: 1;
	min-width: 0;
}

#todo-list,
#todo-list-completed {
	list-style: none;
	padding: 0;

	/* max-height: 30em; */

	/* overflow-y: auto; */

	/* margin: 0 0 0.5em calc(var(--prpl-padding) * -1); */

	> *:first-child .move-up,
	> *:last-child .move-down {
		visibility: hidden;
	}
}

/*------------------------------------*\
	Progress Planner TODO Dashboard widget styles.
\*------------------------------------*/
#progress_planner_dashboard_widget_todo {

	#todo-list,
	#todo-list-completed {
		margin-left: -5px;
	}

	#create-todo-item {
		padding: 0 16px;
	}
}

#prpl-dashboard-widget-todo-header {
	display: flex;
	gap: 1em;
	align-items: center;
	margin-bottom: 1em;
	padding: 0 16px;

	p {
		font-size: 14px;
	}
}

#todo-list-completed {

	.prpl-suggested-task {

		h3 {
			text-decoration: line-through;
		}

		.prpl-move-buttons,
		button[data-action="complete"] {
			display: none;
		}
	}
}

#todo-list-completed-details {
	margin-top: 1rem;
	border: 1px solid var(--prpl-color-gray-3);
	border-radius: 0.5rem;

	summary {
		padding: 0.5rem;
		font-weight: 500;
	}

	&:not(:has(.prpl-suggested-task)) {
		display: none;
	}
}

#todo-list {

	&:not(:has(li[data-task-points="1"])) {

		> *:first-child {

			.prpl-suggested-task {
				background-color: var(--prpl-background-purple);

				h3 {
					color: var(--prpl-color-accent-purple);
				}
			}
		}
	}
}
