.prpl-widget-wrapper.prpl-whats-new {

	ul {
		margin: 0;

		p {
			margin: 0;
		}
	}

	li {

		h3 {
			margin-top: 0;
			font-size: 1.15em;
			font-weight: 600;

			> a {
				color: var(--prpl-color-headings);
				text-decoration: none;

				.prpl-external-link-icon {
					margin-inline-start: 0.15em;
				}
			}
		}

		img {
			width: 100%;
		}
	}

	.prpl-widget-footer {
		display: flex;
		justify-content: flex-end;
	}
}

.prpl-blog-post-image {
	width: 100%;
	min-height: 120px;
	aspect-ratio: 16 / 9;
	background-size: cover;
	margin-bottom: 1em;
	border-radius: var(--prpl-border-radius);
	box-shadow: 5px 5px 5px var(--prpl-color-gray-2);
	border: 1px solid var(--prpl-color-gray-2);
	background-color: var(--prpl-color-gray-1); /* Fallback, if remote host image is not accessible */
}
